<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dl.dlexerciseandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for provider -->
    <uses-permission android:name="com.dl.dlexerciseandroid.provider.permission.READ" />
    <uses-permission android:name="com.dl.dlexerciseandroid.provider.permission.WRITE" />

    <!-- 要把自己定義的Application class在AndroidManifest中進行設定  -->
    <application
        android:name=".main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 要將Facebook app id設定在這邊  -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Facebook login activity  -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Debug database  -->
        <activity android:name=".database.debug.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light"/>

        <provider
            android:name=".database.provider.DLExerciseContentProvider"
            android:authorities="com.dl.dlexerciseandroid.provider"
            android:exported="false"
            android:multiprocess="false"
            android:readPermission="com.dl.dlexerciseandroid.provider.permission.READ"
            android:writePermission="com.dl.dlexerciseandroid.provider.permission.WRITE" />

    </application>

</manifest>