<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dl.dlexerciseandroid"
    android:sharedUserId="android.uid.latertask">

    <!-- 如果多個app有共同的android:sharedUserId，而且都sign同樣的key，那麼這些app的resources跟class可以彼此共用 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 如果要使用getRunningTasks()，就必須要加此permission，但此permission只有在Lollipop之前才有作用 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 我們希望當device idle的時候，music player可以繼續播放音樂，所以需要加此permission -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Music player會需要讀取device上的音樂檔案，所以需要加此permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- For Speech Recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permissions for provider -->
    <uses-permission android:name="com.dl.dlexerciseandroid.provider.permission.READ" />
    <uses-permission android:name="com.dl.dlexerciseandroid.provider.permission.WRITE" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- 要把自己定義的Application class在AndroidManifest中進行設定 -->
    <application
        android:name=".ui.main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             在<application>的tag中加入
             android:debuggable="true"
             tools:ignore="HardcodedDebugMode"
             這兩個屬性，可以讓signed apk進行debug
        -->


        <!-- 要將Facebook app id設定在這邊 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.coordinatorlayout.CoordinatorLayoutActivity" />
        <activity
            android:name=".dialog.activity.AddTaskActivity"
            android:theme="@style/AppDialogTheme.NoActionBar" />

        <!-- 此Activity用來接收別的app share過來的intent，一定要用Activity才收的到 -->
        <!--
             我們這邊的目的，是希望別的app share過來的intent，我們解析其資訊之後就存到db，所以我們不需要Activity的UI
             可以套上@android:style/Theme.NoDisplay，如此一來就可以啟動Activity，但是不會看到任何畫面
        -->
        <activity
            android:name=".ui.doitlater.share.DoItLaterReceiverActivity"
            android:theme="@android:style/Theme.NoDisplay">

            <!-- 設定接收share intent的filter記得要加action, category, data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.dl.dlexerciseandroid.ACTION_DO_IT_LATER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.intent.ReceiveIntentActivity"
            android:label="ReceiveIntentActivity">
            <intent-filter>
                <action android:name="com.dl.dlexerciseandroid.ACTION_RECEIVE_INTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Facebook login activity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <!-- Debug database -->
        <activity
            android:name=".database.debug.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />

        <!-- Preview activity for Google Tag Manager -->
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true"> <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>

                <!-- 這行要改成自己app的package name: tagmanager.c.<app's package name> -->
                <data android:scheme="tagmanager.c.com.dl.dlexerciseandroid" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.musicplayer.musiccontroller.MusicControllerActivity" />
        <activity android:name=".ui.moviesearcher.MovieSearcherActivity" />
        <activity android:name=".ui.espressotest.EspressoTestActivity" />
        <activity android:name=".ui.mininavigationdrawer.main.MiniNavigationDrawerActivity" />
        <activity android:name=".ui.bottomnavigationview.BottomNavigationViewActivity" />
        <activity android:name=".ui.strategypattern.activities.EatActivity" />
        <activity android:name=".ui.strategypattern.activities.SleepActivity" />
        <activity android:name=".ui.previewcamera.PreviewCameraActivity" />
        <activity
            android:name=".ui.runningman.RunningManActivity"
            android:theme="@style/AppThemeWithActionBar"/>

        <!--
        用receiver沒有辦法收到來自別的app的shared intent
        <receiver android:name=".doitlater.DoItLaterShareReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </receiver>
        -->

        <service
            android:name=".backgroundtask.service.TaskService"
            android:exported="false" />
        <service
            android:name=".backgroundtask.service.MessageService"
            android:exported="false" />
        <service
            android:name=".backgroundtask.service.MusicService"
            android:exported="false" />
        <service
            android:name=".backgroundtask.service.TmdbApiService"
            android:exported="false" />
        <service android:name=".backgroundtask.service.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name=".database.provider.DLExerciseContentProvider"
            android:authorities="com.dl.dlexerciseandroid.provider"
            android:exported="false"
            android:multiprocess="false"
            android:readPermission="com.dl.dlexerciseandroid.provider.permission.READ"
            android:writePermission="com.dl.dlexerciseandroid.provider.permission.WRITE" />

    </application>

</manifest>